*{
    margin:0;
    padding: 0;
}
/* .imgbox{
    width: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;

} */

h1{
    text-align: center;
}